@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0a192f;
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 
::selection {
    background: #ffffff;
    color: #0a192f;
} */

::-webkit-scrollbar {
    width: 5px;
}

/* ::-webkit-scrollbar-track {
    background: #0a192f;
} */

::-webkit-scrollbar-thumb {
    background: #2c4064;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d3053;

}

a {
    text-decoration: none;
}